homeworks/week6/CONVERTED_Construction_Company_Data/Project-PROJECT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType"/>
  <xs:complexType name="rowType">
    <xs:sequence>
      <xs:element name="PROJ_NUM">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="15"/>
            <xs:enumeration value="18"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PROJ_NAME">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Evergreen"/>
            <xs:enumeration value="Amber Wave"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element type="rowType" name="row" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>